@font-face {
	font-family: mplus-1p-regular;
	src: url('font/mplus-1p-regular-subset.ttf')
	format("truetype");
}

@font-face {
	font-family: mplus-1p-heavy;
	src: url('font/mplus-1p-heavy-subset.ttf')
	format("truetype");
}

@keyframes BackgroundRotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes BackgroundRotate {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

body {
	background-color: #ffffff;
	margin: 0;
	height: 100%;
}

div#background {
	width: 1800px;
	height: 1800px;
	position: fixed;
	top: -700px;
	right: -700px;
	background-image: url("img/homepage_texture.svg");
	background-repeat: no-repeat;
	background-size: 1800px 1800px;
	z-index: -1;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	animation: BackgroundRotate 100s;
	-webkit-animation: BackgroundRotate 100s;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

div#overlay {
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(30%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 30%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-transform: translateZ(0);
	-webkit-mix-blend-mode: color-dodge;
	-webkit-blend-mode: multiply;
	mix-blend-mode: multiply;

	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	pointer-events: none;
}

div#content {
	width: 1000px;
	margin: 0 auto;
}

div#content h1 {
	font-family: mplus-1p-heavy;
	font-size: 60px;
	font-weight: normal;
	color: #333;
	text-align: center;
	letter-spacing: 20px;
	text-indent: 20px;
	margin: 0.6em 0;
}

div#content h2 {
	font-family: mplus-1p-regular;
	font-weight: normal;
	color: #333;
	font-size: 24px;
	margin: 2em 0 0.8em;
}

div#content h3 {
	font-family: mplus-1p-regular;
	font-weight: normal;
	color: #333;
	font-size: 18px;
	clear: both;
}

div#content>p {
	clear: both;
}

div#content ul {
	margin: 0px;
	padding-left: 30px;
}

div#content ul li {
	position: relative;
	display: block;
	width: 97px;
	height: 95px;
	float: left;
	background-size: 50px 50px;
	background-position: 25px 0px;
	background-repeat:no-repeat;
	font-family: mplus-1p-regular;
	text-align: center;
	white-space: nowrap;
}

div#content ul li p.service_tag {
	margin: 0px;
	position: relative;
	font-size: 12px;
	color: #000000;
	top: 60px;
	right: 0px;
}

div#content ul li a {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

div#content ul li.black {
	background-image: url('img/circle_black.svg');
}

div#content ul li.blue {
	background-image: url('img/circle_blue.svg');
}

div#content ul li.cyan {
	background-image: url('img/circle_cyan.svg');
}

div#content ul li.green {
	background-image: url('img/circle_green.svg');
}

div#content ul li.ocher {
	background-image: url('img/circle_ocher.svg');
}

div#content ul li.orange {
	background-image: url('img/circle_orange.svg');
}

div#content ul li.pink {
	background-image: url('img/circle_pink.svg');
}

div#content ul li.purple {
	background-image: url('img/circle_purple.svg');
}

div#content ul li.red {
	background-image: url('img/circle_red.svg');
}
